@font-face {
    font-family: 'iransans';
    font-weight: 400;
    src:local('') ,url("iransans.woff2") format("woff2");
    font-display: swap;
}
@font-face {
font-family: 'iransansbold';
    font-weight: 400;
src: local('') ,url("iransansbold.woff2") format("woff2");
    font-display: swap;
}
@font-face {
font-family: 'iransanslight';
    font-weight: 400;
src:local('') ,url("iransanslight.woff2") format("woff2");
    font-display: swap;
}
@font-face {
font-family: 'iransansmedium';
    font-weight: 400;
src:local('') ,url("iransansmedium.woff2") format("woff2");
    font-display: swap;
}
@font-face {
font-family: 'iransansultralight';
    font-weight: 400;
src:local('') ,url("iransansultralight.woff2") format("woff2");
    font-display: swap;
}